

.texto1 {
    background-color: var(--amarelo);
    margin: 20px 10px;
    padding: 10px;
}

.texto2 {
    background-color: var(--azul);
    margin: 20px 10px;
    padding: 10px;
}

.texto3 {
    background-color: var(--verde);
    margin: 20px 10px;
    padding: 10px;
}